page-view-project {

  agm-map {
    height: 200px;
  }

  #projectContainer h6,
  #projectContainer p {
    display: inline;
    vertical-align: center;
  }

  h6 {
    font-size: 15px;
  }

  .action-sheets-basic-page {

    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
      color: #757575;
    }

  }

}
