page-view-project {

  agm-map {
    height: 200px;
  }

  #projectContainer h6,
  #projectContainer p {
    display: inline;
    vertical-align: center;
  }

  p {
    color: #484848;
  }

  h6 {
    font-size: 15px;
  }

}
