<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewProject()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Projects List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)" no-lines>
    <ion-item-sliding *ngFor="let project of projects; let i = index; let evenRow = even;">
      <button ion-item [ngClass]="{evenClass : evenRow }" (click)="onLoadProject(project, i)">
        <h3>{{ project.title }}</h3>
        <ion-note>{{ project.manager }}</ion-note>
        <ion-icon *ngIf="project.done" item-end name="checkmark"></ion-icon>
      </button>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="onEditProject(project, i)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onDeleteProject(i)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

